@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');

.App {
  font-size: 0.9rem;
  line-height: 1.8rem;
  font-family:  'Roboto', sans-serif;
}

.App-header {
  top: 10vh;
  left: 7vw;
  /*font-family: 'Roboto Mono';*/
  font-size: 80px;
  text-transform: uppercase;
  font-weight:  400;
  letter-spacing: 0.01rem;
  position: absolute;
}

.App-container{ 
  top: 30vh;
  color: #222;
  left: 50vw;
  position: relative;
  display: block;
  font-size: 40px;
  width: 30vw;
  /*height: 40vh;*/
  letter-spacing: 0.01rem;
  border-left: 3px solid #222;
  padding-left: 5vw;
}

.Item {
  font-weight: 300;
  line-height: 56px;
}

.Item:hover {
  padding-left: 1vw;
  font-weight: 400;
  cursor: url(cursor_oval.png), auto;
}

.ItemDetails { 
  font-family: 'Roboto Mono';
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  left: 7vw;
  top: 40vh;
  width:  33vw;
  display: block;
  position: absolute;
  padding: 0.1vh 0.1vw 0.1vh 0.5vw;
}

.ItemDetails::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 1px solid #222;*/
  /*background: #00f;*/
  opacity: 0.3;
  /*box-shadow: 3px 3px 50px 0px #FF736B;*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  animation-name: jitter;
  animation-duration: 5s; 
  animation-timing-function: linear; 
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running;  
}

.ItemDetails:hover {
  cursor: move;
}

@keyframes jitter {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.02)
  }  
  100% {
    transform: scale(1)
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
  cursor: url(cursor_oval.png), auto;
}

a:hover {
  padding-left: 2rem;
  cursor: url(cursor_oval.png), auto;
}

img {
  width: 30vw;
}

iframe {
  margin: 0;
}

::selection {
  background: #00f; 
  color: #fff/* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00f; /* Gecko Browsers */
  color: #fff
}

.about {
  font-family: 'Roboto Mono';
  font-weight: 500;
  position: fixed;
  bottom: 2vh;
  height: 2vh;
  left: 1vw;  
}

.footer {
  font-family: 'Roboto Mono';
  font-weight: 500;
  position: fixed;
  bottom: 2vh;
  height: 2vh;
  right: 1vw;
}