@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.App-header {
  padding: 1rem;
}


.App-container{ 
  padding: 1rem;
  color: #222;
  width: 20rem;
  /*border: 1px solid red;*/
}
.Item:hover {
  padding-left: 10rem;
  font-weight: 400;
  width: auto;
  cursor: url(cursor_oval.png), auto;

}

.ItemDetails{ 
  font-family:  'Source Sans Pro', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  left: 1rem;
  width:  60rem;
  display: inline-block;
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  /*border: 1px solid red;*/
  /*background: #FF3B30;*/
}


::selection {
  background: #00f; 
  color: #fff/* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00f; /* Gecko Browsers */
  color: #fff
}

a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
  cursor: url(cursor_oval.png), auto;

}

a:hover {
  padding-left: 10rem;
  font-weight: 400 ;
  cursor: url(cursor_oval.png), auto;
}
